<!DOCTYPE html>
<html>
    <head>
        <style>
            p,a{
                /* border-width: 10px;
                border-style: solid;
                border-color: red; */
                border: 10px solid red;
                padding: 60px;
                margin: 60px;
                width: 200px;
                /* inline에서 width,height값은 적용되지 않는다. */
            }
        </style>
    </head>
    <body>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, minima!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, minima!
        </p>
        안녕하세요. <a href="http://a.com">생활코딩</a>입니다.
    </body>
</html>
<!-- 
BOX MODEL : 각 태그가 갖는 여백등의 표현
-->