<!DOCTYPE html>
<html>
    <head>
        <style>
            img{
                width: 300px;
                float: right;
                margin: 20PX;
            }
            /* float  */
            p{
                border: 1px solid gray;
            }
        </style>
    </head>
    <body>
        <img src="C:\Users\kangm\Desktop\HTML_CSS\HTML_CSS\HTML\winter.jpg" alt="">
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo inventore atque laudantium eum quia fugiat perferendis ratione, doloribus hic voluptatum ut doloremque et qui consequuntur quas reiciendis quaerat culpa provident.
        </p>
        <p style="clear:both">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo inventore atque laudantium eum quia fugiat perferendis ratione, doloribus hic voluptatum ut doloremque et qui consequuntur quas reiciendis quaerat culpa provident.
        </p>
        <!-- clear:both -->
        <!-- 피해간다~~(img의 float에 따라 표현이 달라짐.) -->
    </body>
</html>