<!DOCTYPE html>
<html>
    <head>
        <style>
            img{
                width: 300px;
                float: left;
                margin: 20PX;
            }
            /* float  */
        </style>
    </head>
    <body>
        <img src="HTML_CSS/HTML/winter.jpg" alt="">
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo inventore atque laudantium eum quia fugiat perferendis ratione, doloribus hic voluptatum ut doloremque et qui consequuntur quas reiciendis quaerat culpa provident.
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo inventore atque laudantium eum quia fugiat perferendis ratione, doloribus hic voluptatum ut doloremque et qui consequuntur quas reiciendis quaerat culpa provident.
        </p>
    </body>
</html>