<!DOCTYPE html>
<html>
    <head>
        <style>
            #empty{
                margin-top: 50px;
                margin-bottom: 100px;
                border: 1px solid tomato;
            }
            #normal{
                background-color: powderblue;
                margin-top: 100px;
            }
            /* #empty,#normal의 마진겹침100px */
            /* #empty의 시각적속성을 없애면 #empty의 마진값은 normal보다 커져야 한다 */
        </style>
    </head>
    <body>
        <div id="empty"></div>
        <div id="normal">normal</div>
    </body>
</html>